body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(213, 216, 215);
}

/* hlavni menu */

header {
    padding: 20px;
    border-bottom: 1px solid rgb(139, 137, 137);
    margin-bottom: 10px;
    background-color: rgb(203, 217, 212);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -400px;
    font-size: 15px; 
    position: sticky;
    left: 250px;  
}

.nav-menu li {
    margin-right: 25px;
    line-height: 38px;
    height: 40px;
    width: 120px;
    text-align: center;
}

.nav-menu li:hover{
    background-color: #87b098;
    cursor: pointer;
    border-radius: 20px;
}



.nav-menu ul li a {
    color: rgb(133, 128, 128);
    text-decoration: none;
}

.icons{
    margin-right: 50px;
}
.icons a {
    color: rgb(105, 100, 100);
    text-decoration: none;
    margin-left: 10px;
}

.nav-menu h1 {
    font-size: 25px;
    margin: 0px;
}

/* dropdown menu*/ 

.dropdown_main {
    display: flex;
    margin-left: 0px;
    margin-top: 10px;  
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(203, 217, 212);
    padding: 0;
    list-style: none;
}

.dropdown_main > li:hover > .dropdown {
    display: block;
}

.dropdown_main > li {
    position: relative;
}

/* texty a foto */
section h2{
    font-size: 45px;
    font-style: italic;
   margin-top: 40px;
}

.main-stories-bigger {
    display: flex;
    margin: -10px 50px;
    border-bottom: 1px solid gray;
}

.main-stories {
    display: flex;
    margin: 0px 50px;
    border-bottom: 1px solid gray;
}

.main-text {
    margin-top: 40px;
    padding: 50px;
    font-family:monospace;
}

button{
    box-shadow: 0 8px 8px rgba(135, 202, 153, 0.1);  
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 500px;
    background-color: rgb(229, 229, 229);
    cursor: pointer;
    transition: 0.9s, color 0.3s; /* plynuly prechod barvy*/
}

button:hover{
    background-color:  #87b098;
    color: green;
}  

.main-stories-bigger img{
    width: 100%;
    height: auto;
}
.main-stories img{
    width: 100%;
    height: auto;
}

/* galerie */
.caption-gallery{
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

.gallery{
    display: flex;
}

.gallery-images {
    margin: 0px;
    padding: 0px;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
}

    /*scroll-snap-type: x mandatory;*/
    /*scroll-snap-align: start; /*k zajištění plynulého posouvání ,start znamená, že se každá položka galerie zarovná na začátek kontejneru, když se zastaví*/
    /*flex-shrink: 0;/* zajistuje, aby fotka zachovala svoji velikost*/

.description {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px;
    transform: translateY(100%);
    transition: transform .3s;
    transition-timing-function: ease-in; /* pomalej rozjezd */
}

.description-main { 
    font-size: 20px;
}

.gallery-images img{
    width: 350px;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-images:hover img {
    transform: scale(1.55);
}

.gallery-images:hover .description{
    transform: translateY(0%);
    transition-timing-function: ease-out;

}
/* rady tipy */

.features {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.features h2{
    font-size: 30px;
    font-family: monospace;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-box {
    background-color: rgb(200, 208, 220);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(88, 83, 83, 0.1);
    text-align: center;
    width: 300px;
    height: 200px;
}

/* formular*/ 

.form h2 {
    margin-top: 150px;
    margin-left: 350px;
}

.form {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

label{
    font-family: monospace;
    font-size: 20px;
}

.form-row{
   display: flex;
   gap: 100px;
   margin-bottom: 40px;
}

.form-row input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #131212;
    background-color: rgb(204, 200, 200);
}

.form-line{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
}

.form-topic{
    margin-bottom: 20px;
}

select{
    margin-top: 10px;
    width: 1000px;
    padding: 12px;
    font-size: 15px;
    border: 3px solid #131212;
    border-radius: 10px;
    appearance: none; /* skryje vychozi vzhled prohlizece */
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23999" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>')
    no-repeat right 10px center; /* sipky na konci vyberu*/
    background-color: rgb(204, 200, 200);
    background-size: 20px; /* velikost sipek */
}

.form-message{
    margin-bottom: 20px;
}
.form-message textarea{
    width: 1000px;
    height: 200px;
    border: 3px solid #131212;
    border-radius: 10px;
    background-color: rgb(204, 200, 200);
}

.form-button{
    margin-left: 740px;
    font-size: 20px;
    margin-top: 0px;
}


/* footer */

.container-footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 50px;
}

.footer-icons{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50px;
    margin: 20px;
}

.footer-container p{
   margin-left: 660px; 
   font-size: 10px;
}

/* responsiv */

@media (max-width: 850px) and (min-width: 600px) {

/* menu a stories*/

    .nav-menu .icons {
        display: none;
    }

    .main-stories-bigger img{
    width: 100%;
    height: auto;
    }
    
    .main-stories img{
        width: 100%;
        height: auto;
    }

    .main-text{
        padding: 0px;
        margin: 20px 10px;
    }
  
    .main-text h2 {
        font-size: 30px;
    }

    button{
        width: 70px;
        height: 30px;
        border-radius: 20px;
        font-size: 15px;
    }
    /*galerie*/

    .images img{
        width: 350px;
        height: auto;
        transition: transform 0.3s ease;
        overflow:scroll;
    }

    /*formular*/

    .form h2 {
        margin-top: 20px;
        margin-left: 190px;
    }
    
    .form {
        padding-left: 20px;
        margin-left: 30px;
    }
    
    label{
        font-size: 15px;
    }
    
    .form-row{
       gap: 10px;
       margin-bottom: 20px;
    }
    
    .form-row input{
        width: 220px;
        height: 30px;
    }
    
    .form-line{
        gap: 50px;
        margin-bottom: 20px;
    }
    
    .form-topic{
        margin-bottom: 10px;
    }
    
    select{
        margin-top: 10px;
        width: 705px;
        padding:10px;
        font-size: 10px;
        background-size: 15px;
    }
    
    .form-message{
        margin-bottom: 10px;
    }

    .form-message textarea{
        width: 700px;
        height: 150px;
    }
    
    .form-button{
        margin-left: 610px;
        font-size: 15px;
        margin-top: -10px;
    }

    /* footer */
    .container-footer-icons{
        margin-top: 50px;
    }
    
    .footer-icons{
        width: 20px;
        height: 20px;
        margin: 20px;
    }
    
    .footer-container p{
       margin-left: 370px; 
       font-size: 12px;
    }
}

@media (max-width: 599px){
    /* menu a stories*/

    .nav-menu .icons {
        display: none;
    }

    .nav-menu ul{
        display: none;
    }

    .main-stories-bigger {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-stories-bigger img{
        width: 80%;
        height: auto;
        margin-left: 70px;
     }
        
    .main-stories img{
        width: 70%;
        height: auto;
        margin-left:70px;
        margin-top: 10px;
     }

    .main-stories {
        display: flex;
       flex-direction:column;
    }

     .main-text h2 {
        font-size: 30px;
    }

    .main-text{
        margin-top: -20px;
    }

    button{
        width: 70px;
        height: 30px;
        border-radius: 20px;
        font-size: 15px;
    }

    /*dotaznik*/

    .form h2 {
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
    }
    
    .form {
        padding-left: 0px;
        margin-left: 20px;
    }
    
    label{
        font-size: 10px;
    }
    
    .form-row{
       gap: 10px;
       margin-bottom: 20px;
    }
    
    .form-row input{
        width: 165px;
        height: 30px;
    }
    
    .form-line{
        gap: 50px;
        margin-bottom: 20px;
    }
    
    .form-topic{
        margin-bottom: 10px;
    }
    
    select{
        margin-top: 10px;
        width: 540px;
        padding:10px;
        font-size: 10px;
        background-size: 15px;
    }
    
    .form-message{
        margin-bottom: 10px;
    }

    .form-message textarea{
        width: 530px;
        height: 100px;
    }
    
    .form-button{
        margin-left: 375px;
        font-size: 10px;
        margin-top: -10px;
        width: 60px;
        height: 50px;
        border-radius: 8px;
    }

    .container-footer-icons{
        margin-top: 50px;
    }
    
    .footer-icons{
        width: 15px;
        height: 15px;
        margin: 20px;
    }
    
    .footer-container p{
       margin-left: 230px; 
       font-size: 10px;
    }
       
}