body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(213, 216, 215);
}

/* hlavni menu */

header {
    padding: 20px;
    border-bottom: 1px solid rgb(139, 137, 137);
    margin-bottom: 10px;
    background-color: rgb(203, 217, 212);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -400px;
    font-size: 15px;  
}

.nav-menu li {
    margin-right: 25px;
}

.nav-menu ul li a {
    color: rgb(133, 128, 128);
    text-decoration: none;
}

.icons{
    margin-right: 50px;
}
.icons a {
    color: rgb(105, 100, 100);
    text-decoration: none;
    margin-left: 10px;
}

.nav-menu h1 {
    font-size: 25px;
    margin: 0px;
   
}


/* texty a foto */

.one {
    display: flex;
    justify-content: space-between;
    margin: -10px 50px;
    border-bottom: 1px solid gray;
}

.two{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.three{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    border-bottom: 1px solid gray;
}

section h2{
    font-size: 45px;
    font-style: italic;
}

.text {
    width: 400px;
    padding: 100px;
    font-family:monospace;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}
 
img{
    width: 500px;
    height: auto;
}


/* galerie */

.gallery {
    text-align: center;
    padding: 50px;
}

.gallery h3{
    font-size: 30px;
    font-family:monospace;
    margin-bottom: 40px;
}

.container{
    display: flex;
    justify-content: center;
}

.images img{
    width: 350px;
    height: auto;
    transition: transform 0.3s ease;
}

.images {
    overflow:visible;
}

.images img:hover {
    transform: scale(1.1);
}


/* rady tipy */

.features {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.features h2{
    font-size: 30px;
    font-family: monospace;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-box {
    background-color: rgb(200, 208, 220);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(88, 83, 83, 0.1);
    text-align: center;
    width: 300px;
    height: 200px;
}

/* formular*/ 

.form h2 {
    margin-top: 150px;
    margin-left: 350px;
}

.form {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

label{
    font-family: monospace;
    font-size: 20px;
}

.form-row{
   display: flex;
   gap: 100px;
   margin-bottom: 40px;
}

.form-row input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #131212;
    background-color: rgb(204, 200, 200);
}

.form-line{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
}

.form-topic{
    margin-bottom: 20px;
}

select{
    margin-top: 10px;
    width: 1000px;
    padding: 12px;
    font-size: 15px;
    border: 3px solid #131212;
    border-radius: 10px;
    appearance: none; /* skryje vychozi vzhled prohlizece */
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23999" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>')
    no-repeat right 10px center; /* sipky na konci vyberu*/
    background-color: rgb(204, 200, 200);
    background-size: 20px; /* velikost sipek */
}

.form-message{
    margin-bottom: 20px;
}
.form-message textarea{
    width: 1000px;
    height: 200px;
    border: 3px solid #131212;
    border-radius: 10px;
    background-color: rgb(204, 200, 200);
    
}